.box {
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, #6366f1, #a78bfa); /* blue to purple */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.5);
  opacity: 1;
  transform: scale(0.5);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-top: 40px;

  button {
    padding: 10px 20px;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 16px;
    font-weight: medium;
    text-transform: capitalize;

    &:hover {
      background-color: #4f46e5;
    }
  }
}
