.toast {
  position: absolute;
  bottom: 20px;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  letter-spacing: 0.5px;
  font-size: 16px;
  opacity: 1;
  transform: scale(0.95);
  pointer-events: none;
}

.toast.one {
  background: linear-gradient(135deg, #00cec9, #0984e3);
}

.toast.two {
  background: linear-gradient(135deg, #ff7675, #fd79a8);
}
